{% include header.html %}

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-centres">

            <div class="centre-container"> 
              <h4>Depot Leeds</h4>
              <h5>(Pudsey)</h5>
              <iframe id="occupancyCounter" src="https://portal.rockgympro.com/portal/public/4f7e4c65977f6cd9be6d61308c7d7cc2/occupancy?&amp;iframeid=occupancyCounter&amp;fId=1334" height="250" width="100%" scrolling="no" style="border: 0px;">
              </iframe>
            </div>

            <div class="centre-container">
              <h4>Big Depot - Leeds</h4>
              <h5>(Geldard Road)</h5>
              <iframe id="occupancyCounter" src="https://portal.rockgympro.com/portal/public/4f7e4c65977f6cd9be6d61308c7d7cc2/occupancy?&amp;iframeid=occupancyCounter&amp;fId=1715" height="250" width="100%" scrolling="no" style="border:0px;">
              </iframe>
            </div>

            <div class="centre-container">
              <h4>The Climbing Lab</h4>
              <iframe id="occupancyCounter" src="https://portal.rockgympro.com/portal/public/74c53e8c265bf5c66dfc5d2de70dda87/occupancy?&iframeid=occupancyCounter&fId=" height="250" width="100%" scrolling="no" style="border:0px;">
              </iframe>
            </div>

            <div class="centre-container">
              <h4>Depot Manchester</h4>
              <iframe id="occupancyCounter" src="https://portal.rockgympro.com/portal/public/4f7e4c65977f6cd9be6d61308c7d7cc2/occupancy?&amp;iframeid=occupancyCounter&amp;fId=1416" height="250" width="100%" scrolling="no" style="border:0px;">
              </iframe>
            </div>

            <div class="centre-container">
              <h4>Depot Sheffield</h4>
              <iframe id="occupancyCounter" src="https://portal.rockgympro.com/portal/public/4f7e4c65977f6cd9be6d61308c7d7cc2/occupancy?&amp;iframeid=occupancyCounter&amp;fId=1775" height="250" width="100%" scrolling="no" style="border:0px;">
              </iframe>
            </div>

            <div class="centre-container">
              <h4>Last Sun Dance Leeds</h4>
              <iframe id="occupancyCounter" src="https://www.lastsundance.com/#block-0104cfe24aab39456518" height="180" width="100%" scrolling="no" style="border:0px;">
              </iframe>
 
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


{% include footer.html %}
